# Konfigurasi Database
DATABASE_URL=postgres://kotani_user:secure_password@postgres-db:5432/kotani_db

# Konfigurasi Message Broker Kafka
KAFKA_BROKER=kafka-broker:9092

# Konfigurasi Keamanan Kontainer Non-Root
APP_TMP_DATA=/tmp

# JWT Secret untuk Autentikasi
JWT_SECRET=super_secret_jwt_key_for_kotani
